.item-ul-box {
	padding: 0 5%;
	margin-top: 20px;
}

.item-ul-box ul li {
	background: none;
	border-top: none;
	border-bottom: 1px solid #f7f7f7;
	color: #8c8c8c;
}

.item-ul-box ul li:last-child {
	border-bottom: none;
}

.detailInfo {
	color: #575757;
	font-size: 1em;
}

.item-ul-box ul li span a {
	color: #005bac;
}

.div_renewal_btn {
	padding: 2em 0;
	text-align: center;
}

.renewal_btn_div {
	margin: 0 5%;
	width: 90%;
	height: 2.5em;
	line-height: 2.4em;
	font-size: 1em;
	border-radius: 5px;
	background: #e83344;
	text-align: center;
	color: #FFF;
}

.renewal_btn_div a {
	color: #fff;
	letter-spacing: 0.1em;
}

.chooseTabBox {
	width: 80%;
	margin: 20px auto;
}

.chooseTabBox span {
	float: left;
	display: block;
	width: 50%;
	text-align: center;
}

.on {
	background: #005bac;
	color: white;
}

.off {
	background: white;
}

#peiSongContentBox {
	display: none;
}
.select-no {
    display: block;
    background: url(../../../images/select-no.png) no-repeat;
    width: 1.4em;
    height: 1.4em;
    background-size: 1.3em;
}
.select-yes {
    display: block;
    background: url(../../../images/select-yes.png) no-repeat;
    width: 1.4em;
    height: 1.4em;
    background-size: 1.3em;
}