@charset "utf-8";
/* CSS Document */

.form-area {
	padding: 0 3%;
}

.form_items{
	width:100%;
	padding:.8em 0 0.7em;
	border-bottom: 0.1em solid #cacaca;
	overflow:hidden
}

.items_icon{
	float: left;
	width: 33px;
	height: 32px;
	margin-left:0.3em
}
/*车架号*/
.icon_carframe{
	background: url(../images/icon/icon-carframe-gray.png) no-repeat;
	background-position:center;
	background-size:contain;
}
.icon_carframe_on{
	background: url(../images/icon/icon-carframe.png) no-repeat;
	background-position:center;
	background-size:contain;
}
/*发动机号*/
.icon_engine{
	background:url(../images/icon/icon-engine-gray.png) no-repeat;
	background-position:center;
	background-size:contain;
}
.icon_engine_on{
	background: url(../images/icon/icon-engine.png) no-repeat;
	background-position:center;
	background-size:contain;
}
/*初等日期*/
.icon_timedata{
	background: url(../images/icon/icon-timedata-gray.png) no-repeat;
	background-position:center;
	background-size:contain;
}
.icon_timedata_on{
	background: url(../images/icon/icon-timedata.png) no-repeat;
	background-position:center;
	background-size:contain;
}
/*用户名*/
.icon_name{
	background: url(../images/icon/icon-sign-all-gray.png) no-repeat;
	background-position:0px 0px;
	background-size:100%;
}
.icon_name_on{
	background: url(../images/icon/icon-sign-all-blue.png) no-repeat;
	background-position:0px 0px;
	background-size:100%;
}
/*真实姓名*/
.icon_truename{
	background: url(../images/icon/icon-sign-all-gray.png) no-repeat;
	background-position:0px -64px;
	background-size:100%;
}
.icon_truename_on{
	background: url(../images/icon/icon-sign-all-blue.png) no-repeat;
	background-position:0px -64px;
	background-size:100%;
}

.icon_cardID{
	background: url(../images/icon/icon-sign-all-gray.png) no-repeat;
	background-position:0px -96px;
	background-size:100%;
}
.icon_cardID_on{
	background: url(../images/icon/icon-sign-all-blue.png) no-repeat;
	background-position:0px  -96px;
	background-size:100%;
}

.icon_password{
	background: url(../images/icon/icon-sign-all-gray.png) no-repeat;
	background-position:0px -32px;
	background-size:100%;
}
.icon_password_on{
	background: url(../images/icon/icon-sign-all-blue.png) no-repeat;
	background-position:0px -32px;
	background-size:100%;
}


.icon_email{
	background: url(../images/icon/icon-sign-all-gray.png) no-repeat;
	background-position:0px -128px;
	background-size:100%;
}
.icon_email_on{
	background: url(../images/icon/icon-sign-all-blue.png) no-repeat;
	background-position:0px -128px;
	background-size:100%;
}

.icon_phone{
	background: url(../images/icon/icon-sign-all-gray.png) no-repeat;
	background-position:0px -160px;
	background-size:100%;
}
.icon_phone_on{
	background: url(../images/icon/icon-sign-all-blue.png) no-repeat;
	background-position:0px -160px;
	background-size:100%;
}

.icon_lock{
	background: url(../images/icon/icon-sign-all-gray.png) no-repeat;
	background-position:0px -192px;
	background-size:100%;
}
.icon_lock_on{
	background: url(../images/icon/icon-sign-all-blue.png) no-repeat;
	background-position:0px -192px;
	background-size:100%;
}
.icon_notepencil{
	background: url(../images/icon/icon_notepencil.png) no-repeat;
	background-size:100%;
}
.items_input{
	width:73%;
	float:left;
	height:32px;
	line-height:32px;
}
.items_input_min{
	width:54%;
	float:left;
	height:32px;
	line-height:32px;
}
.active-close{
	float:right;
	width: 33px;
	height:32px;
	background: url(../images/controls/btn-close.png) no-repeat center;
	background-size:80%;
}
.close-min{
	right:6.5em;
}
.active-switch{
	float:right;
	width:33px; 
	height:32px;
	background: url(../images/controls/btn-switch-eye-gray.png) no-repeat 0 0;
}
.bg-eye-blue{
	background: url(../images/controls/btn-switch-eye-blue.png) no-repeat 0 0;	
}

.active-code{
	float: right;
	width: 90px;
	background-color:#005bac;
	border-radius: 0.5em;
	text-align: center;
	font-size:.7em;
	color:#FFFFFF;
	padding:.6em 0;
}
.active-code-send{
	border: none;
	background: #cacaca;
	color:#fff;
}
.btn-blue{
	clear:both;
	margin: 1.5em 3%;
	overflow:hidden
}

.items_text{
	float:left;
	height:32px;
	line-height:32px;
	text-indent:.3em;
}

.item_code{
	float:right;
	width:94px;
	height:32px;
	position:relative;
	overflow:hidden;
	
}
.item_code img{
	width:100%;
	height:100%;
	max-width:94px;
	border:none medium;
	position:absolute;
	right:0;
	bottom:0;
	z-index:10;
}
.from-set-bottom{
	margin-bottom:20px;
}