@charset "utf-8";
/* CSS Document */
.ui-tabs-nav {
    display: -webkit-box;
    width: 100%;
}
.ui-tabs-nav li {
    border: none;
    border-width: 1px 0 1px 1px;
    -webkit-box-flex:1;
    text-align: center;
    color: #009ddc;
    font-size: 16px;
    background-color: #009ddc;
    height:2.2em;
    line-height: 35px;
    white-space:nowrap;/*内容不换行*/
    cursor: pointer;
}
.ui-tabs-nav li a {
    text-decoration: none;
    color: #fff;
	font-weight:bold;
}
.ui-tabs-nav li:last-child {
    border-width: 0.1em;
}
.ui-tabs-nav li.ui-state-active{
    background-color: #fff;
}
.ui-tabs-nav li.ui-state-active a{
    color:#009ddc;
	font-weight:bold;

}
.ui-tabs-content {
    border:none;
    border-width: 0 0.1em 0.1em;
}
.ui-tabs-content .ui-tabs-panel {
    padding: 0;
}
.ui-tabs-panel .ui-loading {
    position: absolute;
    left: 50%;
    top: 50px;
    margin-top: -20px;
    margin-left: -20px;
}
.ui-tabs-panel .ui-load-error {
    color: red;
    text-align: center;
}
