@charset "utf-8";
/* CSS Document */
.ui-panel{
    width:100%;
    height: 100%;
    top: 0;
    padding:0px;
	overflow-y:auto;
}

.list-insurance-type-blue {width:100%;height:auto;padding:0;margin:0;border-collapse:collapse;border:none; }
.list-insurance-type-blue tr th {height:2em;padding:0.4em;font-weight:normal;background:#005bac;border:0.1em solid #fff;}
.list-insurance-type-blue tr td {height:2em;border-bottom:0.1em solid #cacaca;padding:0.4em;}
a:link.list-a-style,a:active.list-a-style,a:hover.list-a-style,a:visited.list-a-style {color:#fff;width:95%;float:left;}
